.jumbotron {
    /* min-height: 10px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    top: -10px;
    font-weight: 500;
    color: olivedrab; */
        position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: -10px;
    font-weight: 500;
    background: gray 

}
